{% extends "base.html" %}
{% block post_content %}
<h1 align="left">Location</h1>
<p align="left">3835 Fountain Ave</p>
<p align="left">Los Angeles, Ca.90029</p>
<p align="left">Phone: (323) 662-0900</p>
<p align="left">Email: <a href="mailto:fwb420@gmail.com">fwb420@gmail.com</a></p>
<h1 align="left">Hours</h1>

<p align="left">Monday - Saturday 11:00 am - 8:00 pm</p>
<p align="left">Sundays 11:00 - 6:00 pm</p>



{% endblock %}

{% block sidebar %}
 <div id="inputArea">

<form action="/contact/" method="POST">
{{ form }}
<center><input type="submit" value="Submit" /></center>
</form>

</div>

		{% endblock %}

