{% extends "base.html" %} 
{% block post_title %}
Welcome to The Fountain of Wellbeing!
{% endblock %}
{% block post_content %}
<p>
The Fountain of Wellbeing is a medical cannabis dispensing collective,
established to assist qualified patients by providing safe, reliable 
access to affordable medicinal grade cannabis and cannabis products as well 
as providing a safe, supportive community for our members.
<p>
For information regarding our cannabis selection,
<strong>
    <a href="index.php?p=menu">click here</a>
</strong>.
{% endblock %}
{% block sidebar %}
<div id="rightBoxDeco">
    <h1>-=Current Hours=-</h1>
    <p align="left">
        <strong>Monday - Saturday</strong>
    </p>			
    <p align="left">
        10:30 am - 8:00 pm
    </p>
    <p align="left">
        <strong>Sundays</strong>
    </p>
    <p align="left">
        11:00 - 6:00 pm
    </p>
    <p align="left">
        <em>SUMMER HOURS BEGIN APRIL 1st</em>
    </p>            
    <p align="left">
        <em>WE WILL BE OPEN ONE HOUR LATER!!</em>
    </p>
</div>
{% endblock %}
