{% extends "base.html" %} 

{% block post_content %}
<h1 align="left">Location</h1>
<p align="left">3835 Fountain Ave</p>
<p align="left">Los Angeles, Ca.90029</p>
<p align="left">Phone: (323) 662-0900</p>
<p align="left">Email:<a href="mailto:thefountainofwellbeing@yahoo.com"> thefountainofwellbeing@yahoo.com</a></p>
<h1 align="left">Hours</h1>

<p align="left">Monday - Saturday 11:00 am - 9:00 pm</p>
<p align="left">Sundays 11:00 - 6:00 pm</p>



{% endblock %}

{% block sidebar %}
<div id="inputArea">

<center><h2>Email Sent!</h2></center>

</div>

		{% endblock %}

